<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="appended_column_name" type="xstring" value="Distance"/>
        <entry key="chunk_size" type="xint" value="1000"/>
        <config key="old-distance-config">
            <entry key="distance" type="xstring" value="org.knime.base.distance.Euclidean"/>
            <config key="data-column-spec-filter-config">
                <entry key="filter-type" type="xstring" value="STANDARD"/>
                <config key="included_names">
                    <entry key="array-size" type="xint" value="544"/>
                    <entry key="0" type="xstring" value="row[]"/>
                    <entry key="1" type="xstring" value="adilsonjr[]"/>
                    <entry key="2" type="xstring" value="avis[]"/>
                    <entry key="3" type="xstring" value="justic[]"/>
                    <entry key="4" type="xstring" value="govern[]"/>
                    <entry key="5" type="xstring" value="recurs[]"/>
                    <entry key="6" type="xstring" value="cont[]"/>
                    <entry key="7" type="xstring" value="judicial[]"/>
                    <entry key="8" type="xstring" value="helicópter[]"/>
                    <entry key="9" type="xstring" value="gov[]"/>
                    <entry key="10" type="xstring" value="min[]"/>
                    <entry key="11" type="xstring" value="pilantrel[]"/>
                    <entry key="12" type="xstring" value="https[]"/>
                    <entry key="13" type="xstring" value="uol[]"/>
                    <entry key="14" type="xstring" value="cust[]"/>
                    <entry key="15" type="xstring" value="milhõ[]"/>
                    <entry key="16" type="xstring" value="mesm[]"/>
                    <entry key="17" type="xstring" value="calam[]"/>
                    <entry key="18" type="xstring" value="compr[]"/>
                    <entry key="19" type="xstring" value="jgfw[]"/>
                    <entry key="20" type="xstring" value="brasil[]"/>
                    <entry key="21" type="xstring" value="presídi[]"/>
                    <entry key="22" type="xstring" value="adot[]"/>
                    <entry key="23" type="xstring" value="model[]"/>
                    <entry key="24" type="xstring" value="conseg[]"/>
                    <entry key="25" type="xstring" value="recuper[]"/>
                    <entry key="26" type="xstring" value="pres[]"/>
                    <entry key="27" type="xstring" value="priv[]"/>
                    <entry key="28" type="xstring" value="ger[]"/>
                    <entry key="29" type="xstring" value="rebeliõ[]"/>
                    <entry key="30" type="xstring" value="busc[]"/>
                    <entry key="31" type="xstring" value="filh[]"/>
                    <entry key="32" type="xstring" value="fest[]"/>
                    <entry key="33" type="xstring" value="via[]"/>
                    <entry key="34" type="xstring" value="jov[]"/>
                    <entry key="35" type="xstring" value="suspeit[]"/>
                    <entry key="36" type="xstring" value="violênc[]"/>
                    <entry key="37" type="xstring" value="domést[]"/>
                    <entry key="38" type="xstring" value="cárcer[]"/>
                    <entry key="39" type="xstring" value="uberlând[]"/>
                    <entry key="40" type="xstring" value="corp[]"/>
                    <entry key="41" type="xstring" value="estad[]"/>
                    <entry key="42" type="xstring" value="encontr[]"/>
                    <entry key="43" type="xstring" value="poc[]"/>
                    <entry key="44" type="xstring" value="cald[]"/>
                    <entry key="45" type="xstring" value="felipefont[]"/>
                    <entry key="46" type="xstring" value="jos[]"/>
                    <entry key="47" type="xstring" value="zog[]"/>
                    <entry key="48" type="xstring" value="lrn[]"/>
                    <entry key="49" type="xstring" value="anapaulavol[]"/>
                    <entry key="50" type="xstring" value="car[]"/>
                    <entry key="51" type="xstring" value="pau[]"/>
                    <entry key="52" type="xstring" value="canalhic[]"/>
                    <entry key="53" type="xstring" value="maior[]"/>
                    <entry key="54" type="xstring" value="financeir[]"/>
                    <entry key="55" type="xstring" value="viv[]"/>
                    <entry key="56" type="xstring" value="htt[]"/>
                    <entry key="57" type="xstring" value="uolnotic[]"/>
                    <entry key="58" type="xstring" value="ijuc[]"/>
                    <entry key="59" type="xstring" value="amjlz[]"/>
                    <entry key="60" type="xstring" value="tir[]"/>
                    <entry key="61" type="xstring" value="una[]"/>
                    <entry key="62" type="xstring" value="fot[]"/>
                    <entry key="63" type="xstring" value="banc[]"/>
                    <entry key="64" type="xstring" value="merc[]"/>
                    <entry key="65" type="xstring" value="gisaieir[]"/>
                    <entry key="66" type="xstring" value="vereador[]"/>
                    <entry key="67" type="xstring" value="receb[]"/>
                    <entry key="68" type="xstring" value="salári[]"/>
                    <entry key="69" type="xstring" value="carating[]"/>
                    <entry key="70" type="xstring" value="polit[]"/>
                    <entry key="71" type="xstring" value="xnsakx[]"/>
                    <entry key="72" type="xstring" value="campanh[]"/>
                    <entry key="73" type="xstring" value="prevençã[]"/>
                    <entry key="74" type="xstring" value="febr[]"/>
                    <entry key="75" type="xstring" value="amarel[]"/>
                    <entry key="76" type="xstring" value="iníci[]"/>
                    <entry key="77" type="xstring" value="córreg[]"/>
                    <entry key="78" type="xstring" value="fund[]"/>
                    <entry key="79" type="xstring" value="mort[]"/>
                    <entry key="80" type="xstring" value="autor[]"/>
                    <entry key="81" type="xstring" value="reforc[]"/>
                    <entry key="82" type="xstring" value="rehventur[]"/>
                    <entry key="83" type="xstring" value="quer[]"/>
                    <entry key="84" type="xstring" value="autoestim[]"/>
                    <entry key="85" type="xstring" value="aeci[]"/>
                    <entry key="86" type="xstring" value="perd[]"/>
                    <entry key="87" type="xstring" value="president[]"/>
                    <entry key="88" type="xstring" value="prefeitur[]"/>
                    <entry key="89" type="xstring" value="acredit[]"/>
                    <entry key="90" type="xstring" value="homens[]"/>
                    <entry key="91" type="xstring" value="roub[]"/>
                    <entry key="92" type="xstring" value="carg[]"/>
                    <entry key="93" type="xstring" value="sant[]"/>
                    <entry key="94" type="xstring" value="luz[]"/>
                    <entry key="95" type="xstring" value="gast[]"/>
                    <entry key="96" type="xstring" value="las[]"/>
                    <entry key="97" type="xstring" value="usa[]"/>
                    <entry key="98" type="xstring" value="abus[]"/>
                    <entry key="99" type="xstring" value="políc[]"/>
                    <entry key="100" type="xstring" value="federal[]"/>
                    <entry key="101" type="xstring" value="prend[]"/>
                    <entry key="102" type="xstring" value="hom[]"/>
                    <entry key="103" type="xstring" value="tráfic[]"/>
                    <entry key="104" type="xstring" value="internacional[]"/>
                    <entry key="105" type="xstring" value="drog[]"/>
                    <entry key="106" type="xstring" value="aeroport[]"/>
                    <entry key="107" type="xstring" value="for[]"/>
                    <entry key="108" type="xstring" value="corinthians[]"/>
                    <entry key="109" type="xstring" value="fal[]"/>
                    <entry key="110" type="xstring" value="fern[]"/>
                    <entry key="111" type="xstring" value="pimentel[]"/>
                    <entry key="112" type="xstring" value="abre[]"/>
                    <entry key="113" type="xstring" value="licit[]"/>
                    <entry key="114" type="xstring" value="inacr[]"/>
                    <entry key="115" type="xstring" value="bloquei[]"/>
                    <entry key="116" type="xstring" value="municípi[]"/>
                    <entry key="117" type="xstring" value="divis[]"/>
                    <entry key="118" type="xstring" value="cap[]"/>
                    <entry key="119" type="xstring" value="doming[]"/>
                    <entry key="120" type="xstring" value="janeir[]"/>
                    <entry key="121" type="xstring" value="lei[]"/>
                    <entry key="122" type="xstring" value="desastr[]"/>
                    <entry key="123" type="xstring" value="ambiental[]"/>
                    <entry key="124" type="xstring" value="empres[]"/>
                    <entry key="125" type="xstring" value="ped[]"/>
                    <entry key="126" type="xstring" value="pag[]"/>
                    <entry key="127" type="xstring" value="eso[]"/>
                    <entry key="128" type="xstring" value="vid[]"/>
                    <entry key="129" type="xstring" value="con[]"/>
                    <entry key="130" type="xstring" value="agricultor[]"/>
                    <entry key="131" type="xstring" value="vacin[]"/>
                    <entry key="132" type="xstring" value="apreend[]"/>
                    <entry key="133" type="xstring" value="armas[]"/>
                    <entry key="134" type="xstring" value="fog[]"/>
                    <entry key="135" type="xstring" value="muniçõ[]"/>
                    <entry key="136" type="xstring" value="juiz[]"/>
                    <entry key="137" type="xstring" value="arax[]"/>
                    <entry key="138" type="xstring" value="nov[]"/>
                    <entry key="139" type="xstring" value="dos[]"/>
                    <entry key="140" type="xstring" value="caminhoneir[]"/>
                    <entry key="141" type="xstring" value="forj[]"/>
                    <entry key="142" type="xstring" value="cã[]"/>
                    <entry key="143" type="xstring" value="escond[]"/>
                    <entry key="144" type="xstring" value="mont[]"/>
                    <entry key="145" type="xstring" value="clar[]"/>
                    <entry key="146" type="xstring" value="denúnc[]"/>
                    <entry key="147" type="xstring" value="det[]"/>
                    <entry key="148" type="xstring" value="balanc[]"/>
                    <entry key="149" type="xstring" value="precisã[]"/>
                    <entry key="150" type="xstring" value="tent[]"/>
                    <entry key="151" type="xstring" value="jog[]"/>
                    <entry key="152" type="xstring" value="celul[]"/>
                    <entry key="153" type="xstring" value="dupl[]"/>
                    <entry key="154" type="xstring" value="durant[]"/>
                    <entry key="155" type="xstring" value="oper[]"/>
                    <entry key="156" type="xstring" value="policial[]"/>
                    <entry key="157" type="xstring" value="patrocíni[]"/>
                    <entry key="158" type="xstring" value="envolv[]"/>
                    <entry key="159" type="xstring" value="fazend[]"/>
                    <entry key="160" type="xstring" value="pirapor[]"/>
                    <entry key="161" type="xstring" value="jovens[]"/>
                    <entry key="162" type="xstring" value="folg[]"/>
                    <entry key="163" type="xstring" value="imped[]"/>
                    <entry key="164" type="xstring" value="detém[]"/>
                    <entry key="165" type="xstring" value="ladrõ[]"/>
                    <entry key="166" type="xstring" value="distrit[]"/>
                    <entry key="167" type="xstring" value="barr[]"/>
                    <entry key="168" type="xstring" value="alegr[]"/>
                    <entry key="169" type="xstring" value="ipating[]"/>
                    <entry key="170" type="xstring" value="apresent[]"/>
                    <entry key="171" type="xstring" value="rapaz[]"/>
                    <entry key="172" type="xstring" value="sintét[]"/>
                    <entry key="173" type="xstring" value="correi[]"/>
                    <entry key="174" type="xstring" value="civil[]"/>
                    <entry key="175" type="xstring" value="materi[]"/>
                    <entry key="176" type="xstring" value="refin[]"/>
                    <entry key="177" type="xstring" value="divulg[]"/>
                    <entry key="178" type="xstring" value="convoc[]"/>
                    <entry key="179" type="xstring" value="educ[]"/>
                    <entry key="180" type="xstring" value="infantil[]"/>
                    <entry key="181" type="xstring" value="tri[]"/>
                    <entry key="182" type="xstring" value="sexual[]"/>
                    <entry key="183" type="xstring" value="intensific[]"/>
                    <entry key="184" type="xstring" value="zon[]"/>
                    <entry key="185" type="xstring" value="rural[]"/>
                    <entry key="186" type="xstring" value="uberab[]"/>
                    <entry key="187" type="xstring" value="ônibus[]"/>
                    <entry key="188" type="xstring" value="carreg[]"/>
                    <entry key="189" type="xstring" value="flagr[]"/>
                    <entry key="190" type="xstring" value="motor[]"/>
                    <entry key="191" type="xstring" value="decret[]"/>
                    <entry key="192" type="xstring" value="fic[]"/>
                    <entry key="193" type="xstring" value="fer[]"/>
                    <entry key="194" type="xstring" value="valad[]"/>
                    <entry key="195" type="xstring" value="nvey[]"/>
                    <entry key="196" type="xstring" value="detran[]"/>
                    <entry key="197" type="xstring" value="realiz[]"/>
                    <entry key="198" type="xstring" value="açõ[]"/>
                    <entry key="199" type="xstring" value="trânsit[]"/>
                    <entry key="200" type="xstring" value="dobr[]"/>
                    <entry key="201" type="xstring" value="ofert[]"/>
                    <entry key="202" type="xstring" value="estud[]"/>
                    <entry key="203" type="xstring" value="profission[]"/>
                    <entry key="204" type="xstring" value="saúd[]"/>
                    <entry key="205" type="xstring" value="trabalh[]"/>
                    <entry key="206" type="xstring" value="descans[]"/>
                    <entry key="207" type="xstring" value="febreamarel[]"/>
                    <entry key="208" type="xstring" value="secret[]"/>
                    <entry key="209" type="xstring" value="process[]"/>
                    <entry key="210" type="xstring" value="contrat[]"/>
                    <entry key="211" type="xstring" value="design[]"/>
                    <entry key="212" type="xstring" value="secretári[]"/>
                    <entry key="213" type="xstring" value="afirm[]"/>
                    <entry key="214" type="xstring" value="cas[]"/>
                    <entry key="215" type="xstring" value="estã[]"/>
                    <entry key="216" type="xstring" value="sáb[]"/>
                    <entry key="217" type="xstring" value="saib[]"/>
                    <entry key="218" type="xstring" value="terc[]"/>
                    <entry key="219" type="xstring" value="ampli[]"/>
                    <entry key="220" type="xstring" value="vej[]"/>
                    <entry key="221" type="xstring" value="oglobopolit[]"/>
                    <entry key="222" type="xstring" value="tyxircw[]"/>
                    <entry key="223" type="xstring" value="imuf[]"/>
                    <entry key="224" type="xstring" value="del[]"/>
                    <entry key="225" type="xstring" value="amig[]"/>
                    <entry key="226" type="xstring" value="folh[]"/>
                    <entry key="227" type="xstring" value="xzfkoik[]"/>
                    <entry key="228" type="xstring" value="vergonh[]"/>
                    <entry key="229" type="xstring" value="vag[]"/>
                    <entry key="230" type="xstring" value="cidad[]"/>
                    <entry key="231" type="xstring" value="shopping[]"/>
                    <entry key="232" type="xstring" value="cobr[]"/>
                    <entry key="233" type="xstring" value="estacion[]"/>
                    <entry key="234" type="xstring" value="mult[]"/>
                    <entry key="235" type="xstring" value="econom[]"/>
                    <entry key="236" type="xstring" value="rio[]"/>
                    <entry key="237" type="xstring" value="silvi[]"/>
                    <entry key="238" type="xstring" value="mkt[]"/>
                    <entry key="239" type="xstring" value="dinheir[]"/>
                    <entry key="240" type="xstring" value="post[]"/>
                    <entry key="241" type="xstring" value="japã[]"/>
                    <entry key="242" type="xstring" value="hugotim[]"/>
                    <entry key="243" type="xstring" value="timbet[]"/>
                    <entry key="244" type="xstring" value="glob[]"/>
                    <entry key="245" type="xstring" value="sul[]"/>
                    <entry key="246" type="xstring" value="operacaobetalab[]"/>
                    <entry key="247" type="xstring" value="professor[]"/>
                    <entry key="248" type="xstring" value="esper[]"/>
                    <entry key="249" type="xstring" value="poss[]"/>
                    <entry key="250" type="xstring" value="bal[]"/>
                    <entry key="251" type="xstring" value="mand[]"/>
                    <entry key="252" type="xstring" value="band[]"/>
                    <entry key="253" type="xstring" value="sus[]"/>
                    <entry key="254" type="xstring" value="situaçã[]"/>
                    <entry key="255" type="xstring" value="wareport[]"/>
                    <entry key="256" type="xstring" value="rithely[]"/>
                    <entry key="257" type="xstring" value="propost[]"/>
                    <entry key="258" type="xstring" value="palmeir[]"/>
                    <entry key="259" type="xstring" value="atlet[]"/>
                    <entry key="260" type="xstring" value="inter[]"/>
                    <entry key="261" type="xstring" value="fluminens[]"/>
                    <entry key="262" type="xstring" value="pra[]"/>
                    <entry key="263" type="xstring" value="mud[]"/>
                    <entry key="264" type="xstring" value="entreg[]"/>
                    <entry key="265" type="xstring" value="ivec[]"/>
                    <entry key="266" type="xstring" value="cyrusxota[]"/>
                    <entry key="267" type="xstring" value="qnluhwqz[]"/>
                    <entry key="268" type="xstring" value="polêm[]"/>
                    <entry key="269" type="xstring" value="prev[]"/>
                    <entry key="270" type="xstring" value="distribu[]"/>
                    <entry key="271" type="xstring" value="estada[]"/>
                    <entry key="272" type="xstring" value="vzvu[]"/>
                    <entry key="273" type="xstring" value="vqumr[]"/>
                    <entry key="274" type="xstring" value="ixi[]"/>
                    <entry key="275" type="xstring" value="fgq[]"/>
                    <entry key="276" type="xstring" value="jbarbos[]"/>
                    <entry key="277" type="xstring" value="fórmul[]"/>
                    <entry key="278" type="xstring" value="fracass[]"/>
                    <entry key="279" type="xstring" value="petist[]"/>
                    <entry key="280" type="xstring" value="pior[]"/>
                    <entry key="281" type="xstring" value="histór[]"/>
                    <entry key="282" type="xstring" value="afast[]"/>
                    <entry key="283" type="xstring" value="milit[]"/>
                    <entry key="284" type="xstring" value="our[]"/>
                    <entry key="285" type="xstring" value="pret[]"/>
                    <entry key="286" type="xstring" value="arma[]"/>
                    <entry key="287" type="xstring" value="bairr[]"/>
                    <entry key="288" type="xstring" value="edmilsonpap[]"/>
                    <entry key="289" type="xstring" value="falênc[]"/>
                    <entry key="290" type="xstring" value="ter[]"/>
                    <entry key="291" type="xstring" value="mtos[]"/>
                    <entry key="292" type="xstring" value="feri[]"/>
                    <entry key="293" type="xstring" value="pls[]"/>
                    <entry key="294" type="xstring" value="dph[]"/>
                    <entry key="295" type="xstring" value="kqa[]"/>
                    <entry key="296" type="xstring" value="alun[]"/>
                    <entry key="297" type="xstring" value="famíl[]"/>
                    <entry key="298" type="xstring" value="papa[]"/>
                    <entry key="299" type="xstring" value="mar[]"/>
                    <entry key="300" type="xstring" value="pis[]"/>
                    <entry key="301" type="xstring" value="cosp[]"/>
                    <entry key="302" type="xstring" value="mineir[]"/>
                    <entry key="303" type="xstring" value="impression[]"/>
                    <entry key="304" type="xstring" value="sujeit[]"/>
                    <entry key="305" type="xstring" value="msqsldmrar[]"/>
                    <entry key="306" type="xstring" value="melhor[]"/>
                    <entry key="307" type="xstring" value="trafic[]"/>
                    <entry key="308" type="xstring" value="carlinibh[]"/>
                    <entry key="309" type="xstring" value="kalil[]"/>
                    <entry key="310" type="xstring" value="dias[]"/>
                    <entry key="311" type="xstring" value="cri[]"/>
                    <entry key="312" type="xstring" value="atend[]"/>
                    <entry key="313" type="xstring" value="qafiuipxev[]"/>
                    <entry key="314" type="xstring" value="trav[]"/>
                    <entry key="315" type="xstring" value="disput[]"/>
                    <entry key="316" type="xstring" value="depósit[]"/>
                    <entry key="317" type="xstring" value="judic[]"/>
                    <entry key="318" type="xstring" value="bilhã[]"/>
                    <entry key="319" type="xstring" value="paul[]"/>
                    <entry key="320" type="xstring" value="jeitinh[]"/>
                    <entry key="321" type="xstring" value="prefeit[]"/>
                    <entry key="322" type="xstring" value="almoc[]"/>
                    <entry key="323" type="xstring" value="marmitex[]"/>
                    <entry key="324" type="xstring" value="elimin[]"/>
                    <entry key="325" type="xstring" value="traj[]"/>
                    <entry key="326" type="xstring" value="formal[]"/>
                    <entry key="327" type="xstring" value="aument[]"/>
                    <entry key="328" type="xstring" value="pandarcds[]"/>
                    <entry key="329" type="xstring" value="conhec[]"/>
                    <entry key="330" type="xstring" value="maraj[]"/>
                    <entry key="331" type="xstring" value="quebr[]"/>
                    <entry key="332" type="xstring" value="khshsdwx[]"/>
                    <entry key="333" type="xstring" value="escol[]"/>
                    <entry key="334" type="xstring" value="pesso[]"/>
                    <entry key="335" type="xstring" value="massacr[]"/>
                    <entry key="336" type="xstring" value="chic[]"/>
                    <entry key="337" type="xstring" value="pinheir[]"/>
                    <entry key="338" type="xstring" value="bel[]"/>
                    <entry key="339" type="xstring" value="horizont[]"/>
                    <entry key="340" type="xstring" value="frednavarr[]"/>
                    <entry key="341" type="xstring" value="ser[]"/>
                    <entry key="342" type="xstring" value="gêm[]"/>
                    <entry key="343" type="xstring" value="prosapolit[]"/>
                    <entry key="344" type="xstring" value="jkkysx[]"/>
                    <entry key="345" type="xstring" value="fgg[]"/>
                    <entry key="346" type="xstring" value="lhcjg[]"/>
                    <entry key="347" type="xstring" value="sin[]"/>
                    <entry key="348" type="xstring" value="oferec[]"/>
                    <entry key="349" type="xstring" value="cheg[]"/>
                    <entry key="350" type="xstring" value="surt[]"/>
                    <entry key="351" type="xstring" value="corr[]"/>
                    <entry key="352" type="xstring" value="interior[]"/>
                    <entry key="353" type="xstring" value="crim[]"/>
                    <entry key="354" type="xstring" value="violent[]"/>
                    <entry key="355" type="xstring" value="viços[]"/>
                    <entry key="356" type="xstring" value="muria[]"/>
                    <entry key="357" type="xstring" value="investig[]"/>
                    <entry key="358" type="xstring" value="confirm[]"/>
                    <entry key="359" type="xstring" value="mai[]"/>
                    <entry key="360" type="xstring" value="queridinh[]"/>
                    <entry key="361" type="xstring" value="jornaloglob[]"/>
                    <entry key="362" type="xstring" value="ghigjpjcac[]"/>
                    <entry key="363" type="xstring" value="yowjcamu[]"/>
                    <entry key="364" type="xstring" value="tentat[]"/>
                    <entry key="365" type="xstring" value="fug[]"/>
                    <entry key="366" type="xstring" value="marian[]"/>
                    <entry key="367" type="xstring" value="discut[]"/>
                    <entry key="368" type="xstring" value="los[]"/>
                    <entry key="369" type="xstring" value="governomg[]"/>
                    <entry key="370" type="xstring" value="anunc[]"/>
                    <entry key="371" type="xstring" value="combat[]"/>
                    <entry key="372" type="xstring" value="mat[]"/>
                    <entry key="373" type="xstring" value="operaçãobetalab[]"/>
                    <entry key="374" type="xstring" value="comec[]"/>
                    <entry key="375" type="xstring" value="feir[]"/>
                    <entry key="376" type="xstring" value="muniçã[]"/>
                    <entry key="377" type="xstring" value="carret[]"/>
                    <entry key="378" type="xstring" value="ensin[]"/>
                    <entry key="379" type="xstring" value="integral[]"/>
                    <entry key="380" type="xstring" value="estadu[]"/>
                    <entry key="381" type="xstring" value="triângul[]"/>
                    <entry key="382" type="xstring" value="aterr[]"/>
                    <entry key="383" type="xstring" value="estaçõ[]"/>
                    <entry key="384" type="xstring" value="lix[]"/>
                    <entry key="385" type="xstring" value="centr[]"/>
                    <entry key="386" type="xstring" value="oest[]"/>
                    <entry key="387" type="xstring" value="pat[]"/>
                    <entry key="388" type="xstring" value="regiã[]"/>
                    <entry key="389" type="xstring" value="cobrador[]"/>
                    <entry key="390" type="xstring" value="manifest[]"/>
                    <entry key="391" type="xstring" value="inseguranc[]"/>
                    <entry key="392" type="xstring" value="furt[]"/>
                    <entry key="393" type="xstring" value="identif[]"/>
                    <entry key="394" type="xstring" value="formig[]"/>
                    <entry key="395" type="xstring" value="selet[]"/>
                    <entry key="396" type="xstring" value="morr[]"/>
                    <entry key="397" type="xstring" value="nort[]"/>
                    <entry key="398" type="xstring" value="hac[]"/>
                    <entry key="399" type="xstring" value="buen[]"/>
                    <entry key="400" type="xstring" value="aéci[]"/>
                    <entry key="401" type="xstring" value="nev[]"/>
                    <entry key="402" type="xstring" value="réveillon[]"/>
                    <entry key="403" type="xstring" value="ary[]"/>
                    <entry key="404" type="xstring" value="antipt[]"/>
                    <entry key="405" type="xstring" value="marc[]"/>
                    <entry key="406" type="xstring" value="malár[]"/>
                    <entry key="407" type="xstring" value="notíc[]"/>
                    <entry key="408" type="xstring" value="ajud[]"/>
                    <entry key="409" type="xstring" value="polít[]"/>
                    <entry key="410" type="xstring" value="forc[]"/>
                    <entry key="411" type="xstring" value="stf[]"/>
                    <entry key="412" type="xstring" value="açã[]"/>
                    <entry key="413" type="xstring" value="bilhõ[]"/>
                    <entry key="414" type="xstring" value="nom[]"/>
                    <entry key="415" type="xstring" value="oficialmchariel[]"/>
                    <entry key="416" type="xstring" value="par[]"/>
                    <entry key="417" type="xstring" value="contag[]"/>
                    <entry key="418" type="xstring" value="dahor[]"/>
                    <entry key="419" type="xstring" value="loj[]"/>
                    <entry key="420" type="xstring" value="varginh[]"/>
                    <entry key="421" type="xstring" value="defes[]"/>
                    <entry key="422" type="xstring" value="chuv[]"/>
                    <entry key="423" type="xstring" value="mã[]"/>
                    <entry key="424" type="xstring" value="cris[]"/>
                    <entry key="425" type="xstring" value="expuls[]"/>
                    <entry key="426" type="xstring" value="servidor[]"/>
                    <entry key="427" type="xstring" value="január[]"/>
                    <entry key="428" type="xstring" value="valor[]"/>
                    <entry key="429" type="xstring" value="psdb[]"/>
                    <entry key="430" type="xstring" value="famili[]"/>
                    <entry key="431" type="xstring" value="habl[]"/>
                    <entry key="432" type="xstring" value="corrupt[]"/>
                    <entry key="433" type="xstring" value="pmmg[]"/>
                    <entry key="434" type="xstring" value="viatur[]"/>
                    <entry key="435" type="xstring" value="sigil[]"/>
                    <entry key="436" type="xstring" value="dad[]"/>
                    <entry key="437" type="xstring" value="voos[]"/>
                    <entry key="438" type="xstring" value="escarni[]"/>
                    <entry key="439" type="xstring" value="registr[]"/>
                    <entry key="440" type="xstring" value="seguranc[]"/>
                    <entry key="441" type="xstring" value="agred[]"/>
                    <entry key="442" type="xstring" value="divinópol[]"/>
                    <entry key="443" type="xstring" value="jornal[]"/>
                    <entry key="444" type="xstring" value="red[]"/>
                    <entry key="445" type="xstring" value="recup[]"/>
                    <entry key="446" type="xstring" value="desgovern[]"/>
                    <entry key="447" type="xstring" value="anjokamaxim[]"/>
                    <entry key="448" type="xstring" value="antagon[]"/>
                    <entry key="449" type="xstring" value="oficial[]"/>
                    <entry key="450" type="xstring" value="cumpr[]"/>
                    <entry key="451" type="xstring" value="papel[]"/>
                    <entry key="452" type="xstring" value="acab[]"/>
                    <entry key="453" type="xstring" value="nacional[]"/>
                    <entry key="454" type="xstring" value="tem[]"/>
                    <entry key="455" type="xstring" value="câm[]"/>
                    <entry key="456" type="xstring" value="japonv[]"/>
                    <entry key="457" type="xstring" value="deix[]"/>
                    <entry key="458" type="xstring" value="tom[]"/>
                    <entry key="459" type="xstring" value="new[]"/>
                    <entry key="460" type="xstring" value="torr[]"/>
                    <entry key="461" type="xstring" value="ghigjp[]"/>
                    <entry key="462" type="xstring" value="vctfcbl[]"/>
                    <entry key="463" type="xstring" value="program[]"/>
                    <entry key="464" type="xstring" value="barreir[]"/>
                    <entry key="465" type="xstring" value="país[]"/>
                    <entry key="466" type="xstring" value="facçõ[]"/>
                    <entry key="467" type="xstring" value="hor[]"/>
                    <entry key="468" type="xstring" value="manaus[]"/>
                    <entry key="469" type="xstring" value="cad[]"/>
                    <entry key="470" type="xstring" value="públic[]"/>
                    <entry key="471" type="xstring" value="lago[]"/>
                    <entry key="472" type="xstring" value="sab[]"/>
                    <entry key="473" type="xstring" value="prisã[]"/>
                    <entry key="474" type="xstring" value="mulh[]"/>
                    <entry key="475" type="xstring" value="amament[]"/>
                    <entry key="476" type="xstring" value="qvk[]"/>
                    <entry key="477" type="xstring" value="eswdepfkwh[]"/>
                    <entry key="478" type="xstring" value="veícul[]"/>
                    <entry key="479" type="xstring" value="internet[]"/>
                    <entry key="480" type="xstring" value="adolescent[]"/>
                    <entry key="481" type="xstring" value="maconh[]"/>
                    <entry key="482" type="xstring" value="coronel[]"/>
                    <entry key="483" type="xstring" value="fabrician[]"/>
                    <entry key="484" type="xstring" value="emergent[]"/>
                    <entry key="485" type="xstring" value="transport[]"/>
                    <entry key="486" type="xstring" value="fol[]"/>
                    <entry key="487" type="xstring" value="reconhec[]"/>
                    <entry key="488" type="xstring" value="gornasc[]"/>
                    <entry key="489" type="xstring" value="pedr[]"/>
                    <entry key="490" type="xstring" value="ufjf[]"/>
                    <entry key="491" type="xstring" value="curs[]"/>
                    <entry key="492" type="xstring" value="revistaisto[]"/>
                    <entry key="493" type="xstring" value="vadskibh[]"/>
                    <entry key="494" type="xstring" value="reis[]"/>
                    <entry key="495" type="xstring" value="patrimôni[]"/>
                    <entry key="496" type="xstring" value="imaterial[]"/>
                    <entry key="497" type="xstring" value="detent[]"/>
                    <entry key="498" type="xstring" value="ministr[]"/>
                    <entry key="499" type="xstring" value="exam[]"/>
                    <entry key="500" type="xstring" value="uydu[]"/>
                    <entry key="501" type="xstring" value="wtt[]"/>
                    <entry key="502" type="xstring" value="kekvqvu[]"/>
                    <entry key="503" type="xstring" value="auxíli[]"/>
                    <entry key="504" type="xstring" value="reag[]"/>
                    <entry key="505" type="xstring" value="eleitor[]"/>
                    <entry key="506" type="xstring" value="joã[]"/>
                    <entry key="507" type="xstring" value="envi[]"/>
                    <entry key="508" type="xstring" value="pov[]"/>
                    <entry key="509" type="xstring" value="pass[]"/>
                    <entry key="510" type="xstring" value="bet[]"/>
                    <entry key="511" type="xstring" value="betalab[]"/>
                    <entry key="512" type="xstring" value="sytambalejy[]"/>
                    <entry key="513" type="xstring" value="tue[]"/>
                    <entry key="514" type="xstring" value="nun[]"/>
                    <entry key="515" type="xstring" value="newrandley[]"/>
                    <entry key="516" type="xstring" value="garant[]"/>
                    <entry key="517" type="xstring" value="direit[]"/>
                    <entry key="518" type="xstring" value="notic[]"/>
                    <entry key="519" type="xstring" value="feit[]"/>
                    <entry key="520" type="xstring" value="radioitatia[]"/>
                    <entry key="521" type="xstring" value="uso[]"/>
                    <entry key="522" type="xstring" value="cham[]"/>
                    <entry key="523" type="xstring" value="carr[]"/>
                    <entry key="524" type="xstring" value="polic[]"/>
                    <entry key="525" type="xstring" value="apreensã[]"/>
                    <entry key="526" type="xstring" value="grav[]"/>
                    <entry key="527" type="xstring" value="rib[]"/>
                    <entry key="528" type="xstring" value="sigodevolt[]"/>
                    <entry key="529" type="xstring" value="assalt[]"/>
                    <entry key="530" type="xstring" value="estadaopolit[]"/>
                    <entry key="531" type="xstring" value="vbrex[]"/>
                    <entry key="532" type="xstring" value="sdv[]"/>
                    <entry key="533" type="xstring" value="micheltem[]"/>
                    <entry key="534" type="xstring" value="soar[]"/>
                    <entry key="535" type="xstring" value="quadrilh[]"/>
                    <entry key="536" type="xstring" value="indeniz[]"/>
                    <entry key="537" type="xstring" value="madur[]"/>
                    <entry key="538" type="xstring" value="bpm[]"/>
                    <entry key="539" type="xstring" value="cia[]"/>
                    <entry key="540" type="xstring" value="presotemquetrabalh[]"/>
                    <entry key="541" type="xstring" value="somostodosdilm[]"/>
                    <entry key="542" type="xstring" value="raynnier[]"/>
                    <entry key="543" type="xstring" value="buyraynniereonitun[]"/>
                </config>
                <config key="excluded_names">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
                <config key="name_pattern">
                    <entry key="pattern" type="xstring" value=""/>
                    <entry key="type" type="xstring" value="Wildcard"/>
                    <entry key="caseSensitive" type="xboolean" value="true"/>
                    <entry key="excludeMatching" type="xboolean" value="false"/>
                </config>
                <config key="datatype">
                    <config key="typelist">
                        <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                        <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                    </config>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Calcula distância%%00010de uma linha para%%00010 outra"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="1427"/>
        <entry key="y-coordinate" type="xint" value="677"/>
        <entry key="width" type="xint" value="104"/>
        <entry key="height" type="xint" value="39"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="11"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.distmatrix.calculate2.DistanceMatrixCalculate2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Distance Matrix Calculate"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Distance Matrix Extension"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.distmatrix"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.0.v202211082354"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Distance Matrix Calculate"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
