<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-p-value"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-statistic"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.9677047215955301"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-p-value"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_3">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-statistic"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.9123979693632843"/>
        </config>
        <config key="Variable_4">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-p-value"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_5">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-statistic"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.9217347054532813"/>
        </config>
        <config key="Variable_6">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-p-value"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_7">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-statistic"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.12307760360443212"/>
        </config>
        <config key="Variable_8">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-p-value"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_9">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-statistic"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.218056028629612"/>
        </config>
        <config key="Variable_10">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-p-value"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.0"/>
        </config>
        <config key="Variable_11">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="shapiro-statistic"/>
            <entry key="class" type="xstring" value="DOUBLE"/>
            <entry key="value" type="xdouble" value="0.8858064063523702"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Alpha_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Alpha" type="xdouble" value="0.05"/>
        <config key="Used columns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="Used columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="6"/>
                <entry key="0" type="xstring" value="age"/>
                <entry key="1" type="xstring" value="fnlwgt"/>
                <entry key="2" type="xstring" value="education-num"/>
                <entry key="3" type="xstring" value="capital-gain"/>
                <entry key="4" type="xstring" value="capital-loss"/>
                <entry key="5" type="xstring" value="hours-per-week"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="shapFrancia_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="shapFrancia" type="xboolean" value="true"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Se aceita H0,%%00010distribuição normal%%00010Se rejeita, as anomalias %%00010podem estar atrabalhando"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="773"/>
        <entry key="y-coordinate" type="xint" value="219"/>
        <entry key="width" type="xint" value="134"/>
        <entry key="height" type="xint" value="52"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="11"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles">
            <config key="style_0">
                <entry key="start" type="xint" value="0"/>
                <entry key="length" type="xint" value="9"/>
                <entry key="fontname" type="xstring" value="Arial"/>
                <entry key="fontstyle" type="xint" value="0"/>
                <entry key="fontsize" type="xint" value="11"/>
                <entry key="fgcolor" type="xint" value="0"/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="The test might be inaccurate for data sets with more than 50 data points."/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.base.node.stats.shapirowilk2.ShapiroWilk2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Shapiro-Wilk Test"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Statistic Nodes (Labs)"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.stats2"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.6.0.v202202280943"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Statistics Nodes (Labs)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.stats2.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.6.0.v202202280943"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Shapiro-Wilk Test"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 6, Cols: 3"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="3ad6760d-8bd3-4190-9ae6-0bb47ca9e57e"/>
    </config>
</config>
